body {
	margin: 0;
	font-family: sans-serif;
}

h1, h2, h3 {
	font-family: serif;
}

h1 { font-size: 180% }
h2 { font-size: 150% }
h3 { font-size: 130% }

p { margin: 1em 0 }

table {
	border-collapse: collapse;
	border: solid 1px #ccc;
	margin: 1em 2em;
	font-size: 80%;
}
td, th {
	padding: 0.5ex 1ex;
	border: solid 1px #ccc;
}

nav {
	background-color: #eee;
	padding: 1ex;
}

nav ol {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
}

nav ol li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

nav ol li:first-child::before {
	content: 'V';
	color: #333;
	background-color: #fff;
	border-radius: 2ex;
	border: solid 1px #666;
	padding: 0.2ex 0.4ex;
	line-height: 0.9;
	font-family: sans-serif;
	font-weight: bold;
	display: inline-block;
	font-size: 2em;
	vertical-align: bottom;
	margin: 1px;
}

nav ol li a {
	display: inline-block;
	padding: 1ex 1em;
	border: solid 1px #ccc;
	margin: 1px;
	background-color: #ddd
}
nav ol li:first-child a {
	margin-left: 1ex;
}

nav ol li a:focus,
nav ol li a:hover {
	background-color: #ccc;
	box-shadow: 0 0 15px #fff;
}

main {
	margin: 2ex;
}

footer {
	background-color: #eee;
	padding: 1ex;
}
