body {
	margin: 0;
	font-family: sans-serif;
}

h1, h2, h3 {
	font-family: serif;
}

h1 { font-size: 180% }
h2 { font-size: 150% }
h3 { font-size: 130% }

p { margin: 1em 0 }

table {
	border-collapse: collapse;
	border: solid 1px #ccc;
	margin: 1em 2em;
	font-size: 80%;
}
td, th {
	padding: 0.5ex 1ex;
	border: solid 1px #ccc;
}

a:link    { color: blue; }
a:visited { color: purple; }
a:link,
a:visited { text-decoration: none; }
a:hover   { text-decoration: underline; }

footer a:link,    nav a:link    { color: #77f; }
footer a:visited, nav a:visited { color: #f7f; }

nav a:hover { background-color: #333; }

/* navigation */

nav {
	background-color: #000;
}

nav ol {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
}

nav ol li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

nav ol li a {
	display: inline-block;
	padding: 1ex;
}

/* main content area */

main {
	margin: 2ex;
}

/* footer */

footer {
	background-color: #000;
	color: #777;
	padding: 1ex;
}

footer a img {
	border: solid 2px #777;
	border-radius: 4px
}
